/* body{
    background-color: pink;
} */

/* Navbar */
.navbar{
    height: 3.5rem;
    background-color: white;
}

.fa-compass {
    color:red;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}
/*footer*/
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
    vertical-align: middle;

}
.f-info-socials,
.f-info-brand {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info{
    text-align: center;
    height: 5rem;
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0% !important;
}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}